igxButton + igxButton {
  margin-left: 10px;
}


.igx-divider--vertical {
  width: 2px;
  height: 3rem;
  background: white;
}

.navigation-container {
  width:100%;
  margin: 0 auto;
}

.datePicker-container {
  display: inline-flex;
  margin-bottom: 0.8em;
  margin-right: 4.5rem;
}




.igx-date-picker {
  width: 10%;
}

:host ::ng-deep {

  .igx-navbar__left {
    display: none;
  }

  .igx-input-group__bundle{
    padding: 0
  }

  .igx-navbar{
    background: red;
    height: 70px;
  }

  .igx-divider{
    margin: 5px;
  }

  .igx-button--flat{
    color: white;
  }
  .igx-divider{
    margin: 5px !important;
  }

  .igx-date-picker__input-date {
    font-size: 0.8em;
  }

  .igx-input-group__label{
    display: none;
  }

  igx-suffix{
    display: none;
  }

  igx-input-group {
    width: 100px;
  }

  igx-date-picker{
    margin-top: 10px;
  }

}

.logo-container{
  margin-right: 30px;
}
