igxButton + igxButton {
  margin-left: 10px;
}

.md-navbar-label {
  font-size: 12px;
  letter-spacing: 1px;
}

.md-navbar-actions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 100%;

  >* {
    margin-left: 30px !important;
  }
}

.igx-divider--vertical {
  width: 2px;
  height: 3rem;
  background: white;
}

.button-icon {
  margin-right: 4px;
}

.navigation-placeholder{
  width:100%;
  height: 70px;

  igx-navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
}

.datePicker-container {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 30px;
}

.md-date-separator {
  margin: 0 16px;
}

:host ::ng-deep {
  .igx-navbar__right {
    width: 100%;
    max-height: 100%;
    justify-content: space-between;

    .igx-date-picker {
      width: 10%;
    }

    igx-date-picker {
      &:last-of-type {
        margin-top: 4px;
      }
    }

    igx-icon {
      font-size: 14px;
      width: 14px;
      height: 14px;
    }
  }

  .md-navbar-actions {
   igx-divider {
     background: #333 !important;
   }
  }


  .igx-navbar__left {
    display: none;
  }

  .igx-input-group__bundle{
    padding: 0
  }

  .igx-navbar{
    height: 70px;
  }

  .igx-date-picker__input-date {
    font-size: 0.8em;
  }

  .igx-input-group__label{
    display: none;
  }

  igx-suffix{
    display: none;
  }

  igx-input-group {
    width: 100px;
  }
}

.logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
