.graphs-container {
  height: 170px;
  width: 100%;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
}

.doughnut-container {
  display: flex;
  align-items: center;
}

.email,
.banners,
.ppc,
.thirdParty {
  margin-bottom: -10px;
}

.legend {
  margin:0.5rem 0 0 3rem;
}

.trend-container {
  margin: auto 0;
}

.labels{
  display: flex;
  color: #fff;
  font-size: 12px;

  #conversions-label{
    margin-left: 10px;
  }

  #target-label{
    margin-left: 30px;
  }
}

::ng-deep{
  .legend{
    .ig-chart-legend-items-list {
      display: grid;
      grid-row-gap: 10px;
      grid-column-gap: 20px;
      grid-template-columns: auto auto;
    }
  }

  .igx-geographic-map{
    height: 280px !important;
  }

  .igx-doughnut-chart{
    width: 200px !important;
    height: 200px !important;
  }

}


