@import "../../var";

.graphs-container {
  height: 170px;
  width: 100%;
  padding: 0 8px;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;

  .email,
  .banners,
  .ppc,
  .thirdParty {
    margin-bottom: -10px;
  }
}

.doughnut-container {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  padding: 0 16px;
}

.trend-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.labels{
  display: flex;
  color: #fff;
  font-size: 12px;
  padding-left: 16px;

  #target-label{
    margin-left: 30px;
  }
}

::ng-deep{
  .legend{
    .ig-chart-legend-items-list {
      display: grid;
      grid-row-gap: 10px;
      grid-column-gap: 20px;
      grid-template-columns: auto auto;
    }
  }

  .igx-geographic-map{
    height: 280px !important;
  }

  .igx-doughnut-chart{
    width: 200px !important;
    height: 200px !important;
  }
}

:host ::ng-deep {
  .trend-container {
    margin-left: 32px;

    .igx-card {
      min-height: 0;
      margin:0 0 16px 0;
    }

    .igx-card-content {
      padding: 0;
      align-items: flex-start;
    }

    .percent-container {
      line-height: 1.2;
    }

    igx-divider {
      display: none;
    }

    .ig-chart-legend-items-list {
      margin: 0;
    }

    .ig-chart-legend-item,
    .ig-chart-legend-item-badge {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .ig-chart-legend-item-badge {
      padding-right: 4px;
    }

    .ig-chart-legend-item-text {
      color: #fff;
    }
  }
}

