.graphs-container {
  height: 170px;
  width: 25%;
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 20px;
  grid-template-columns: auto auto;
  margin-left: 20px;
}

.doughnut-container {
  width: 35%;
  display: inline-flex;
}

.email , .banners, .ppc, .thirdParty {
  margin-bottom: -10px;
}

.legend {
  margin:0.5rem 0 0 3rem;
}

.trend-container {
  margin: auto 0;
}

.labels{
  display: flex;
  #conversions-label{
    margin-left: 20px;
  }

  #target-label{
    margin-left: 20px;
    margin-bottom: -4px;
  }
}

::ng-deep{
  .legend{
    .ig-chart-legend-items-list {
      display: grid;
      grid-row-gap: 10px;
      grid-column-gap: 20px;
      grid-template-columns: auto auto;
    }
  }
  .igx-doughnut-chart{
    width: 40%;
  }

}


