.md-trend-container {
  display: flex;
  flex-wrap: wrap;
  background: #dcdcdc;
  justify-content: center;
  padding: 0 16px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    @media only screen and (max-width: 1024px) {
      justify-content: center;
    }
  }
}

:host ::ng-deep{
  .md-trend-item {
    &:last-of-type {
      igx-divider {
        display: none !important;
      }
    }

    .igx-card-content {
      justify-content: center;
    }

    .percent-container {
      line-height: 1;
    }
  }

  .md-trend-container {
    .igx-card {
      margin: 0;
    }
  }
}

.md-trend-item,
.trend-items{
  display: flex;
}

.image-container{
  padding: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #222;
  margin-right: 32px;

  @media only screen and (max-width: 1044px) {
    margin-right: 8px;
    padding: 16px 0;
  }

  @media only screen and (max-width: 960px) {
    margin-right: 8px;
  }

  @media only screen and (max-width: 768px) {
    margin-right: 0;
    padding: 16px 0 0 0;
  }

  img {
    margin-bottom: 16px;
  }
  span {
    &:first-of-type {
      font-weight: 900;
    }
  }

  igx-icon {
    font-size: 70px;
    width: 70px;
    height: 70px;

    @media only screen and (max-width: 768px) {
      font-size: 40px;
      width: 40px;
      height: 40px;
    }
  }

  span + span {
    margin-left: 4px;
  }
}
