.md-trend-container {
  display: flex;
  background: #dcdcdc;
  justify-content: center;
  padding: 0 16px;

  &__inner {
    display: flex;
    align-items: center;
  }
}

:host ::ng-deep{
  .md-trend-item {
    &:last-of-type {
      igx-divider {
        display: none !important;
      }
    }

    .igx-card-content {
      justify-content: center;
    }

    .percent-container {
      line-height: 1;
    }
  }
}

.md-trend-item,
.trend-items{
  display: flex;
}

.image-container{
  padding: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #222;
  margin-right: 32px;
  img {
    margin-bottom: 16px;
  }
  span {
    &:first-of-type {
      font-weight: 900;
    }
  }

  igx-icon {
    font-size: 70px;
    width: 70px;
    height: 70px;
  }

  span + span {
    margin-left: 4px;
  }
}
