.md-trend-container {
  display: flex;
  background: #444;
  justify-content: center;
  padding: 16px;

  &__inner {
    display: flex;
    align-items: center;
  }
}

.trend-items{
  display: flex;
}

.image-container{
  padding: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  img {
    margin-bottom: 16px;
  }
  span {
    &:first-of-type {
      font-weight: 900;
    }
  }

  span + span {
    margin-left: 10px;
  }
}
