.md-data-chart {
  width: 100%;

  &.md-content__col {
    padding: 16px 16px;
  }
}

.md-charts {
  flex: 1 0 0%;
}

.nav-placeholder {
  width:70px;
}

.md-content,
.md-content__row {
  display: flex;
}

.md-content__row {
  align-items: flex-start;
  justify-content: space-around;
}

.md-content__col {
  flex: 1 0 0%;
  padding:8px 16px;
  border:1px solid #444;
  border-top: none;
  border-bottom: none;

  + .md-content__col {
    border-left: none;
  }
}

.md-sidebar {
  box-shadow: inset 8px 8px 8px rgba(0,0,0,.2);
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
}

.md-map {
  height: 400px;
  width: 100%;
}

:host ::ng-deep{
  .md-data-filter {
    padding: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
  }

  h5 {
    margin-top: 0;
    font-size: 16px;
  }
}
