@import "../var";

.md-charts {
  display: flex;
  flex-direction: column;
  flex: 1 0 0%;
  @media only screen and (max-width: 960px) {
    width: 100%;
  }
}

.nav-placeholder {
  width:70px;
}

.md-content,
.md-content__row {
  display: flex;

  @media only screen and (max-width: 1024px) {
    flex-wrap: wrap;
  }
}

.md-content__row {
  align-items: flex-start;
  justify-content: space-around;

  &--stretch {
    flex: 1 0 0%;
    @media only screen and (max-width: 1024px) {
      flex: auto;
    }

    .md-content__col{
      height: 100%;
    }
  }
}

.md-content__col {
  flex: 1 0 0%;
  padding:8px 0;
  border:1px solid #444;
  border-top: none;
  border-bottom: none;
  overflow: hidden;
  @media only screen and (max-width: 1024px) {
    min-width: 100%;
  }

  + .md-content__col {
    border-left: none;
  }
}

.md-sidebar {
  box-shadow: inset 8px 8px 8px rgba(0,0,0,.2);
  background: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;
  @media only screen and (max-width: 768px) {
    width: 100%;

    app-side-nav-indicators {
      width: 100%;
    }
  }
}

.md-map {
  height: 400px;
  width: 100%;
}

:host ::ng-deep{
  .md-data-filter {
    padding: 8px 16px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  h5 {
    margin-top: 0;
    font-size: 16px;

    @media only screen and (max-width: $mobile) {
      font-size: 14px;
    }
  }
}
