@import "../../var";

app-trend-item {
  display: block;
}

:host ::ng-deep{
  igx-icon{
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.5rem;
  }
}

.percent-container {
  line-height: normal;
}

.igx-card-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;


  @media only screen and (max-width: $tablet) {
    font-size: 12px;
  }

  @media only screen and (max-width: $mobile) {
    padding-bottom: 0;
    strong {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

.igx-card {
  min-height: 150px;
  min-width: 200px;
  margin: 10px;

  @media only screen and (max-width: $desktop) {
    min-width: 190px;
  }

  @media only screen and (max-width: $tablet) {
    min-width: 130px;
  }

  @media only screen and (max-width: $mobile) {
    min-width: 100px;
    min-height: 100px;
    margin: 5px;
  }
}

igx-icon {
  margin-right: 0.5rem;

  @media only screen and (max-width: $mobile) {
    margin-right: 0.2rem;
  }
}

.md-trend-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 900;

  @media only screen and (max-width: $mobile) {
    font-size: 20px;
  }
}

.success{
  color: green;
}

.danger{
  color: red;
}
