:host ::ng-deep{
  igx-icon{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2.5rem;
  }
}

.igx-card {
  min-height: 100%;
  min-width: 200px;
  margin: 10px;
  text-align: center;
}

.igx-card-header {
  padding-bottom: 0;
  text-align: center;
  justify-content: center;
}

igx-icon {
  margin-right: 0.5rem;
}

.md-trend-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 900;
}

.success{
  color: green;
}

.danger{
  color: red;
}
