<article class="card-wrapper">
  <igx-card>
    <igx-card-content>
      <strong>{{name | uppercase}}</strong>
      <div class="md-trend-value {{directionColor}}">
        <igx-icon *ngIf="direction">trending_{{direction}}</igx-icon>
        <div class="percent-container">
          <span class="{{directionColor}}">{{percent}}</span>
          <span class="{{directionColor}}">%</span>
        </div>
      </div>
      <div class="data-container">
        <div class="start-end-container">
          <div class="start-container">
            <span>{{start}} Previous</span>
          </div>
          <div class="end-container {{endRes}}">
            <span>{{end}} Current</span>
          </div>
        </div>
      </div>
    </igx-card-content>
  </igx-card>
</article>
<igx-divider [middle]="true" [vertical]="true"></igx-divider>
