:host ::ng-deep{
  .chart-tooltip {
    div {
      padding: 2px;
    }
    .item {
      border-bottom: 1px solid #453f4e;
    }
  }

  .igx-button-group {
    min-width: 250px;
  }
}

.md-data-filter {
  padding: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;

  h5 {
    margin-top: 0;
  }
}
