<div  class="chart-container">
  <button igxButton='raised' (click)="setSeries(false)">All</button>
  <button igxButton='raised' (click)="setSeries(true)">By medium</button>
  <igx-data-chart #chart width="60%" height="400px" [dataSource]="chartData" [animateSeriesWhenAxisRangeChanges]="true">

    <igx-category-x-axis #time name="time" label="title" [gap]="0.5" [overlap]="-0.3"></igx-category-x-axis>
    <igx-category-x-axis #timeConvers name="timeConvers" [gap]="0.5" [overlap]="-0.3" [labelVisibility]="'collapsed'" ></igx-category-x-axis>

    <igx-numeric-y-axis #yAxis name="yAxis" [titleAngle]="270" title="LOG" [isLogarithmic]="true"></igx-numeric-y-axis>

  </igx-data-chart>
</div>
