<div  class="chart-container">
  <button igxButton='raised' (click)="setSeries(false)">All</button>
  <button igxButton='raised' (click)="setSeries(true)">By medium</button>
  <igx-data-chart #chart width="60%" height="400px" [dataSource]="chartData" [animateSeriesWhenAxisRangeChanges]="true">

    <igx-category-x-axis #time name="time" label="title" [gap]="0.5" [overlap]="-0.3"></igx-category-x-axis>
    <igx-category-x-axis #timeConvers name="timeConvers" [gap]="0.5" [overlap]="-0.3" [labelVisibility]="'collapsed'" ></igx-category-x-axis>

    <igx-numeric-y-axis #yAxis name="yAxis" [titleAngle]="270" title="LOG" [isLogarithmic]="true"></igx-numeric-y-axis>

  </igx-data-chart>
</div>


<ng-template let-series="series" let-item="item" #areaChartTooltipTemplate>
  <div class="chart-tooltip">
    <div class="item bold">{{item.title}}</div>
    <div><span class="caps-muted">{{'session' | uppercase}}</span>: {{item.session}}</div>
    <div><span class="caps-muted">{{'conversion' | uppercase}}</span>: {{item.conversion}}</div>
  </div>
</ng-template>

<ng-template let-series="series" let-item="item" #columnChartTooltipTemplate>
    <div class="chart-tooltip">

      <div class="item bold">{{item.title}}</div>
      <div><span class="caps-muted">{{'session' | uppercase}}</span>: {{item.session}}</div>
    </div>
  </ng-template>
