<div class="md-data-filter">
  <h5>OVERALL HEALTH</h5>

  <igx-buttongroup>
    <button igxRipple igxButton [selected]="true" (click)="setSeries(false)">All</button>
    <button igxRipple igxButton (click)="setSeries(true)">By medium</button>
  </igx-buttongroup>
</div>

<div class="md-data-chart">
  <igx-data-chart #chart height="200px" (seriesMouseLeftButtonDown)="check($event)" [dataSource]="chartData" [animateSeriesWhenAxisRangeChanges]="true" [legend]="legend">

    <igx-category-x-axis #time name="time" label="title" [gap]="0.5" [overlap]="-0.3"></igx-category-x-axis>
    <igx-category-x-axis #timeConvers name="timeConvers" [gap]="0.5" [overlap]="-0.3" [labelVisibility]="'collapsed'">
    </igx-category-x-axis>

    <igx-numeric-y-axis #yAxis name="yAxis" [titleAngle]="270" title="LOG" [isLogarithmic]="true"></igx-numeric-y-axis>

  </igx-data-chart>
  <div class="legendInline">
    <igx-legend #legend orientation="horizontal"></igx-legend>
  </div>
</div>


<ng-template let-item="item" #areaChartTooltipTemplate>
  <div class="chart-tooltip">
    <div class="item bold">{{item.title}}</div>
    <div><span class="caps-muted">{{'session' | uppercase}}</span>: {{item.session}}</div>
    <div><span class="caps-muted">{{'conversions' | uppercase}}</span>: {{item.conversion}}</div>
  </div>
</ng-template>

<ng-template #emptyAreaChartTooltipTemplate></ng-template>

<ng-template let-series="series" let-item="item" #columnChartTooltipTemplate>
  <div *ngIf="series.name === 'sessions'" class="chart-tooltip">
    <div class="item bold">{{item.title}}</div>
    <div><span class="caps-muted">{{series.title | uppercase}}:</span> {{item.session}}</div>
  </div>

  <div *ngIf="series.name === 'conversion'" class="chart-tooltip">
    <div><span class="caps-muted">{{series.title | uppercase}}:</span> {{item.conversion}}</div>
  </div>

  <span *ngIf="series.name === 'sessionsPrev'" class="chart-tooltip">
    <span class="caps-muted">{{series.title | uppercase}} : {{item.session}}</span>
  </span>

  <div *ngIf="series.name === 'conversionPrev'" class="chart-tooltip">
    <span class="caps-muted">{{series.title | uppercase}} : {{item.conversion}}</span>
  </div>
</ng-template>
