.list-container {
  display: flex;

  .igx-card-header {
    margin: 0 auto;
  }

  ol {
    margin: 0 auto;
  }
}

:host ::ng-deep {
  .keywords-container {
    max-width: 100%;

    .igx-list__item-content {
      padding: .2rem .5rem;
    }

    .igx-list__item-lines {
      font-size: 10px !important;
      line-height: 1.4;
    }

    igx-list-item {
      &:first-of-type {
        &:hover {
          .igx-list__item-content {
            background: transparent;
          }
        }
      }
    }
  }

  .stats-container {
    igx-divider {
      display: none;
    }
  }

  .dialog-icon {
    width: 100%;
    text-align: center;
    margin: 1em auto;
  }

  .igx-icon {
    color: #666
  }
}

p{
  width: 25%;
}
