.list-container{
  display: flex;
  .igx-card-header{
    margin: 0 auto;
  }
   ol{
    margin: 0 auto;
   }
}

:host ::ng-deep{
  .keywords-container{
    max-width: 100%;

    .igx-list__item-content {
      padding: 0 .5rem;
    }
    .igx-list__item-lines {
      font-size: 10px !important;
      line-height: 1.4;
    }
  }

  .stats-container {
    igx-divider {
      display: none;
    }
  }
}


