<div class="stats-container">
  <div class="trends-container">
      <app-trend-item *ngFor="let item of trendItems"
                        [direction]="item.direction"
                        [directionColor]="item.directionColor"
                        [percent]="item.percent"
                        [name]="resources[item.labelP].value"
                        [end]="item.end"
                        [start]="item.start"
                        [endRes]="item.endRes"
                        [prevString]="resources['Start'].value"
                        [currentString]="resources['End'].value">
      </app-trend-item>
  </div>
  <div class="keywords-container">
    <igx-list>
      <igx-list-item isHeader>{{resources['Top_Unbranded_Keywords'].value}}</igx-list-item>
      <igx-list-item *ngFor="let word of endKeywords; let i = index" [ngClass]="{'last': i === endKeywords.length - 1}">
        <div igxListLine class=".end" style="font-weight: bold">{{i + 1}}. {{word | uppercase}}</div>
        <div igxListLine class=".start" style="font-weight: bold; color: #969595">{{i + 1}}. {{startKeywords[i]  | uppercase}}</div>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="dialog-info">
      <div class="dialog-icon">
        <button igxButton="icon" (click)="dialog.open()"><igx-icon>help</igx-icon></button>
      </div>
  </div>
  <igx-dialog #dialog >
    <div style="width: 500px; padding: 5px">
        <article >
            <igx-card>
                <igx-card-header>
                  <h3 igxCardHeaderTitle>
                      {{resources['Welcome_message'].value}}
                  </h3>
                  <igx-divider></igx-divider>
                  <h5 igxCardHeaderSubtitle>
                      {{resources['Alert_info'].value}}
                  </h5>
                </igx-card-header>
                <igx-card-content>
                  <h5>{{resources['Alert_Text_Title_Data'].value}}</h5>
                    <span>
                      {{resources['Alert_Paragraph_Data'].value}}
                    </span>
                    <h5>{{resources['Alert_Text_Title_BarChart'].value}}</h5>
                    <span style="width:250px"><img src="{{resources['Chart_PNG'].value}}"  style="float: right; margin:15px;">
                    {{resources['Alert_Paragraph_BarChart'].value}}
                    </span>
                </igx-card-content>
                <igx-card-actions>
                  <button igxButton="raised" (click)="dialog.close()">{{resources['Confirm_button'].value}}</button>
                </igx-card-actions>
            </igx-card>
        </article>
    </div>
</igx-dialog>
</div>


