.keywords-container{
  margin-left: 1rem;
}
.list-container{
  display: flex;
  .igx-card-header{
    margin: 0 auto;
  }
   ol{
    margin: 0 auto;
   }
}

:host ::ng-deep{
  .igx-list__item-content{
    display: block;
  }
  .last .igx-list__item-content{
    display: block;
    padding: 0.5rem;
  }
}
