<div class="md-data-filter">
  <h5>SESSIONS BY REGION</h5>
</div>

<div class="map-container">
  <igx-geographic-map #map>
  </igx-geographic-map>
</div>

<ng-template let-series="series" let-item="item" #template>
  <span>{{item.country}}, {{item.session}}</span>
</ng-template>

<div class="progress-container">
  <div class="md-progress-bar">
    <button igxRipple class="play-btn" (click)="toggleUpdate($event)" igxButton="raised">{{ inProgressMode ? 'Pause' : 'Play' | uppercase}}</button>
    <span>Start</span>
    <igx-linear-bar type="default" [textVisibility]="false" [max]="range" [value]="0" [step]="1" [animate]="false"></igx-linear-bar>
    <span>End</span>
  </div>
</div>

<igx-divider [middle]="true"></igx-divider>

<div class="status-container">
  <div class="status-container__col users">
    <div class="md-col-label">{{'users'}}</div>
    <div class="md-col-val">{{users}}</div>
  </div>
  <div class="status-container__col conversion-rate">
    <div class="md-col-label">{{'conversion rate'}}</div>
    <div class="md-col-val">{{conversionRate}}%</div>
  </div>
  <div class="status-container__col top-pages">
    <div class="md-col-label">{{'Top Pages'}}</div>
    <ul class="md-col-list">
      <li *ngFor="let page of topPages">{{page}}</li>
    </ul>
  </div>
</div>
