@import "../../var";

.map-container{
  margin: 10px 0;
  border: none;
  background: none;
}

.progress-container {
  color: #fff;
}

.md-progress-bar {
  display: flex;
  align-items: center;
  padding: 16px;

  igx-linear-bar {
    flex: 1;
    margin: 0 8px;
  }
}

.play-btn {
  margin-right:16px;
  min-width: 95px;
}

.md-col-label {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

.md-col-val {
  font-size: 30px;
  font-weight: 900;
}

.md-col-list {
  li {
    font-weight: 600;
    font-size: 14px;
  }
}

.status-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  height: 100%;

  @media only screen and (max-width: $mobile) {
    flex-wrap: wrap;
  }

  &__col {
    padding: 16px;
    height: 100%;

    border-left: 1px solid #444;

    &:first-of-type {
      border-left: none;
    }
  }
}

.status-container__col {
  display: flex;
  flex-direction: column;
}
