<div class="map-container">
  <igx-geographic-map #map>
  </igx-geographic-map>
</div>

<ng-template let-series="series" let-item="item" #template>
  <span>{{item.country}}, {{item.session}}</span>
</ng-template>

<div class="progress-container">
  <button class="play-btn" (click)="toggleUpdate($event)"
    igxButton="raised">{{ inProgressMode ? 'Pause' : 'Play' | uppercase}}</button>
    <span style="margin: 1rem">Start</span>
  <div style="width: 50%; margin: 0 auto; display: inline-flex;">
    <igx-linear-bar type="default" [textVisibility]="false"  [max]="range" [value]="0" [step]="1" [animate]="false"> </igx-linear-bar>
  </div>
  <span style="margin: 1rem">End</span>

</div>
