// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
/* You can add global styles to this file, and also import other style files */

@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-typography();
@include igx-dark-theme($green-palette, ('bullet-graph', 'data-chart', 'doughnut-chart', 'geo-map'));

@import "var";

$dark-bg: #333;
$light-color: #fff;
$dark-color: #666;

body {
  background: $dark-bg;
  color: $light-color;
  overflow-x: hidden;
}

.igx-dialog__window .igx-calendar {
  width: 100%;
}

.igx-dialog__window-actions {
  justify-content: space-between;
}

$md-navbar-theme: igx-navbar-theme(
  $schema: $dark-schema,
  $background: #111
);

@include igx-navbar($md-navbar-theme);

$md-card-theme: igx-card-theme(
  $schema: $dark-schema,
  $background: transparent,
  $resting-shadow: none,
  $hover-shadow: none,
  $content-text-color: #444
);

$md-card-theme_2: igx-card-theme(
  $schema: $dark-schema,
  $background: transparent,
  $resting-shadow: none,
  $hover-shadow: none,
  $content-text-color: #ddd
);

$md-divider-theme: igx-divider-theme(
  $color: #444
);

$md-divider-theme_2: igx-divider-theme(
  $color: #d6d6d6
);

.trend-container {
  @include igx-card($md-card-theme_2);
}

.md-trend-container {
  @include igx-card($md-card-theme);
  @include igx-divider($md-divider-theme_2);

}

.global-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  box-shadow: 2px 2px 10px #111;
  &--nav {
    width: 100%;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media only screen and (max-width: $mobile) {
      min-width: auto!important;
    }
  }

  @media only screen and (max-width: 1024px) {
    max-width: 960px;
  }

  @media only screen and (max-width: 768px) {
    max-width: 100%;
    min-width: 320px;
    box-shadow: none;
  }
}
