// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
/* You can add global styles to this file, and also import other style files */

@import "~igniteui-angular/lib/core/styles/themes/index";
// Uncomment the following lines if you want to add a custom palette:
// $primary: #731963 !default;
// $secondary: #ce5712 !default;
// $app-palette: igx-palette($primary, $secondary);

@include igx-core();
@include igx-dark-theme($green-palette);

$dark-bg: #333;
$light-color: #fff;
$dark-color: #666;

body {
  background: $dark-bg;
  color: $light-color;
}

$md-navbar-theme: igx-navbar-theme(
  $schema: $dark-schema,
  $background: #111
);

@include igx-navbar($md-navbar-theme);
